.topbarContainer{
  padding: 0 1%;
  background-color: #006E89;
display: grid;
grid-template-columns: 1fr 4fr 1fr;

}

.logofromHeader{
  width: 114px;
  height: 53px;
  padding: 3% 0px;
}

.topbarImg{
  width: 30px;
  height: 29px;
  border-radius: 50%;
  margin-top: 1%;
}

.midPartHeader{
  /* margin: 0 auto; */
  padding-top: 1%;
  display: flex;
  justify-content: space-evenly;

}

.rightPartHeader{
  padding-top: 4%;
  /* float: right;
  display: flex-end; */
  /* justify-content: space-evenly; */

}

/* .btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}
/* Style the active class, and buttons on mouse-over */
/* .active, .btn:hover {
  background-color: #666;
  color: white;
} */ 