.share {
  background-image: url('form.jpg');
  background-size: cover;
background-repeat: no-repeat;
background-position: center;
height:250px;
 /* padding: 1px; */
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
  }
  .share image{
    opacity: 0.5;
  }
  
  /* .shareWrapper {
    padding: 10px;
  } */
  
  /* .shareTop {
    display: flex;
    align-items: center;
  } */
  
  .shareProfileImg {
    width: 15%;
 
    border-radius: 50%;
    object-fit: cover;
    /* margin-right: 10px; */
  }
  

    .btn-share {
      font-family: 'Antic Slab', serif;
     
        border-radius: 0;
        overflow: hidden;
        cursor: pointer;
        background-color: #82E5FF;
        border: none;
        color: #006E89;
    }
    
    .btn-share:hover {
        /* background: transparent; */
        box-shadow: 0 0 5px 5px #006E89;
        
    }
    
  
    .form-input-material input {
        color: black;
    }
 

    .contact-form  {
      opacity: 0.9;
     width: 60%;
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 8px 0px;
      color: white;
      background: #FFA34C;
      border-radius: 20px;
      box-shadow: 0 2px 2px rgb(165 89 89 / 50%), 0 1px 1px rgb(128 128 128 / 50%), 0 2.1px 2.1px rgb(128 128 128 / 50%), 0 4.4px 4.4px rgb(128 128 128 / 24%), 0 12px 12px rgb(128 128 128 / 35%);
    }
    .contact-form h1 {
        margin: 0 0 24px 0;
    }
    .contact-form .form-input-material {
        margin: 12px 0;
    }
    .contact-form .btn-share {
   
      width: 18%;
  
      font-size: 16px;
      border-radius: 10px;
    }
    
/* END ABOUT US PAGE  */

.form__group {
    position: relative;
    padding: 20px 0 0;
    margin-top: 10px;
    width: 80%;
}
.form__field {
   
    width: 100%;
    border: 0;
    border-bottom: 2px solid white;
    outline: 0;
    font-size: 0.9rem;
    color: #006E89;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.form__field::placeholder {
    color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 18px;
    cursor: text;
    top: 20px;
}
.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 18px;
    color:white;
    font-family: sans-serif;
}
.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #006E89, #82E5FF);
    border-image-slice: 1;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color:  #006E89;
    font-weight: 700;
}

textarea#message.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right,  #006E89, #82E5FF);
  border-image-slice: 1;
}

/* reset input */
.form__field:required, .form__field:invalid {
    box-shadow: none;
}
/* demo */

textarea#message.form__field{

    color: white;
    font-size: 15px;
    font-weight: normal;
}
input#username.form__field{
    color: white;
    font-size: 15px;
    font-weight: normal;
}
input#phone.form__field{
    color: white;
    font-size: 15px;
    font-weight: normal;
}
input#email.form__field{
    color: white;
    font-size: 15px;
    font-weight: normal;
}
.grad{
 border-radius: 75%;
 /* margin-bottom: -20; */
  margin-top: 20px;
  width: 100%;
  height: 12px;
background-image: linear-gradient(to right, #11998e, #38ef7d);
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 5000;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 30vh auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  min-width: 400px;
  height: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  display: flex;
  flex-direction: column;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-size: 30px;
  margin-bottom: 10%;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  line-height: 1.5;
}