.postContainer {
  // border: 1px solid rgba(221, 221, 221, 0);
  background-color: #ffffff;
  border-radius: 0.5%;
  box-shadow: 0 0 50px rgba(0,0,0,.3);
}

.profilePictureDivFromPost{
  height: 233px;
}

.secPostContainer{
  margin: 2% 0.5%;
//   clip-path: polygon(0% 100%, 100% 100%,100% 0%,12% 0%); 
// background-color: yellow;
}

.usernameDivFromPost{
  margin-top: 10px;
}
@media (max-width: 980px) {
  div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media (min-width: 1357px) {  
  .postContainer {
    margin: 3% 0;
    height: 189px;
  display: grid;
  gap: 0;
  grid-template-columns: 1fr 2fr;
  }
  
  .postContainerTest:nth-child(even) {
    .profilePictureDivFromPost img{
      width: 293px;
      height: 189px;
      object-fit: cover;
      clip-path: polygon(0% -700%, 0% 100%, 100% 100%)
    }
  
    .createdAtDivFromPost {
      float: left;
      color: #B1B1B1;
    }
  
    .moreVertDivFromPost{
      float: right;
    }
  
    .postDescDivFromPost{
      display: block;
      font-size: 16px;
      color: #006E89;
      
    }
  
      .linkUserName:-webkit-any-link {
        color: -webkit-link;
        cursor: pointer;
        text-decoration: none;
        color:#006E89;
        font-size: 25px;
        font-weight:900;
        float: left;
      }

      .profilePictureDivFromPost {
        display: inline-block;
        position: relative;
        width: 253px;
        height: 189px;
        background:#006E89;
        box-sizing: border-box;
        clip-path: polygon(0% -700%, 0% 100%, 100% 100%)
      }
      .profilePictureDivFromPost img {
        position: absolute;
        top: 0px;
        left: -1px;
        width: 249px;
        height: 192px;
         clip-path: polygon(0% -700%, 0% 100%, 100% 100%)
      }
  
  }
  
  .postContainerTest:nth-child(odd) {
  
    .postContainer{
      display:flex;
      flex-direction:row-reverse;
      
    }
  
    .secPostContainer{
      display: inline-block;
      width: 73%;
      margin-left: 2%;
      }
    .imagePostWH{
      display: inline-block;
    }
  
    .createdAtDivFromPost {
      float: right;
      color: #B1B1B1;
    }
  
    .moreVertDivFromPost{
      float: right;
    }
  
    .dateAndVert{ float: left; 
      margin-left: -12px;}

    .postDescDivFromPost{
      // float: left;
      color: #006E89;
      display: block;
      font-size: 16px;
      }
  
      .linkUserName:-webkit-any-link {
        color: -webkit-link;
        cursor: pointer;
        text-decoration: none;
        color:#006E89;
        font-size: 25px;
        font-weight:900;
        float: left;
        // margin-top: -33px;
      }
  
      .scrolldiv{
        margin-left: 0;
      }
  }
  
  
  
  .profilePictureDivFromPost {
    display: inline-block;
    position: relative;
    width: 253px;
    height: 189px;
    background:#FFA34C;
    box-shadow: 0 0 30px rgba(221, 8, 8, 0.075);
    box-sizing: border-box;
    clip-path: polygon(0% 100%, 100% 100%,100% 0%,12% 0%);
  }
  .profilePictureDivFromPost img {
    position: absolute;
    top: -2px;
     right: -2px;
      width: 249px;
      height: 192px;
     clip-path: polygon(0% 100%, 100% 100%,100% 0%,12% 0%);
  }



}

.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
  color: #FFA34C;
}


.profilePictureDivFromPost:after {
  content: "";
  position: absolute;
    top: -10%;
  left: -60%;
  width: 20%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);

  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

/* Hover state - trigger effect */
.profilePictureDivFromPost:hover:after {
  opacity: 1;
  left: 130%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

/* Active state */
.profilePictureDivFromPost:active:after {
  opacity: 0;
}